**Q1.** Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

**Example:**
Input: nums = [2,7,11,15], target = 9
Output0 [0,1]

**Explanation:** Because nums[0] + nums[1] == 9, we return [0, 1]

In [92]:
l = []
l = input("enter the list").split(",")
target = int(input("enter the target variable"))
l = list(map(int,l))

value_found = False
index_list = []
for i in range(len(l)):
    for j in range(len(l)):
        value = l[i] + l[j]
        if value == target:
            index_list.append(i)
            index_list.append(j)
            print(index_list)
            value_found = True
            break
    if value_found == True:
        break

enter the list88,1,4,5,11 , 17,19
enter the target variable28
[4, 5]

 **Q2.** Given an integer array nums and an integer val, remove all occurrences of val in nums in-place. The order of the elements may be changed. Then return the number of elements in nums which are not equal to val.

Consider the number of elements in nums which are not equal to val be k, to get accepted, you need to do the following things:

- Change the array nums such that the first k elements of nums contain the elements which are not equal to val. The remaining elements of nums are not important as well as the size of nums.
- Return k.

**Example :**
Input: nums = [3,2,2,3], val = 3
Output: 2, nums = [2,2,_*,_*]

**Explanation:** Your function should return k = 2, with the first two elements of nums being 2. It does not matter what you leave beyond the returned k (hence they are underscores)[

In [277]:
nums = [3,2,2,3,15 ,11, 15 ,14 , 78 ,11,11,14,25 ]

In [278]:
val = 11

In [279]:
k = len(nums)
count_of_val = 0

In [280]:
for i in range(len(nums)):
    if nums[i] == val:
        count_of_val += 1
        k -=1
        nums.append("*")

for i in range(count_of_val):
    nums.remove(val)

In [281]:
nums

[3, 2, 2, 3, 15, 15, 14, 78, 14, 25, '*', '*', '*']

In [282]:
k

10

<aside>
ðŸ’¡ **Q3.** Given a sorted array of distinct integers and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order.

You must write an algorithm with O(log n) runtime complexity.

**Example 1:**
Input: nums = [1,3,5,6], target = 5

Output: 2

</aside>

In [342]:
nums = [1,3,5,6]
target = 7

In [343]:
try:
    print("The index of the element is :",nums.index(target))
except ValueError:
    if nums[-1] < target:
        print("the index of the element must be in position:",len(nums))
    else:
        for i in nums:
            if i > target:
                print("the index of the element must be in position:",len(nums)-1)
                break

the index of the element must be in position: 4

 **Q4.** You are given a large integer represented as an integer array digits, where each digits[i] is the ith digit of the integer. The digits are ordered from most significant to least significant in left-to-right order. The large integer does not contain any leading 0's.

Increment the large integer by one and return the resulting array of digits.

**Example 1:**
Input: digits = [1,2,3]
Output: [1,2,4]

**Explanation:** The array represents the integer 123.

Incrementing by one gives 123 + 1 = 124.
Thus, the result should be [1,2,4].

In [348]:
digits = [1,2,3]

In [350]:
digits[-1]  = digits[-1] +1

In [351]:
digits

[1, 2, 4]

**Q5.** You are given two integer arrays nums1 and nums2, sorted in non-decreasing order, and two integers m and n, representing the number of elements in nums1 and nums2 respectively.

Merge nums1 and nums2 into a single array sorted in non-decreasing order.

The final sorted array should not be returned by the function, but instead be stored inside the array nums1. To accommodate this, nums1 has a length of m + n, where the first m elements denote the elements that should be merged, and the last n elements are set to 0 and should be ignored. nums2 has a length of n.

**Example 1:**
Input: nums1 = [1,2,3,0,0,0], m = 3, nums2 = [2,5,6], n = 3
Output: [1,2,2,3,5,6]

**Explanation:** The arrays we are merging are [1,2,3] and [2,5,6].
The result of the merge is [1,2,2,3,5,6] with the underlined elements coming from nums1.

In [416]:
nums1 = [1,2,3,0,0,0]
nums2 = [2,5,6]

In [417]:
nums1.extend(nums2)

In [418]:
nums1.sort()

In [420]:
for i in range(nums1.count(0)):
    nums1.remove(0)

In [421]:
nums1

[1, 2, 2, 3, 5, 6]

**Q6.** Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

**Example 1:**
Input: nums = [1,2,3,1]

Output: true

In [427]:
nums = [1,2,3,1]
val = 2

In [428]:
if nums.count(val) > 1:
    print(True)
else:
    print(False)

False

Q7.** Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the nonzero elements.

Note that you must do this in-place without making a copy of the array.

**Example 1:**
Input: nums = [0,1,0,3,12]
Output: [1,3,12,0,0]

In [475]:
nums = [0,1,0,3,12,0,1,0,3,12]

In [476]:
k = len(nums)

In [477]:
for i in range(k):
    if nums[i] == 0:
        nums.append(0)
        nums.remove(nums[i])

In [478]:
nums

[1, 3, 12, 1, 3, 12, 0, 0, 0, 0]

Q8.** You have a set of integers s, which originally contains all the numbers from 1 to n. Unfortunately, due to some error, one of the numbers in s got duplicated to another number in the set, which results in repetition of one number and loss of another number.

You are given an integer array nums representing the data status of this set after the error.

Find the number that occurs twice and the number that is missing and return them in the form of an array.

**Example 1:**
Input: nums = [1,2,2,4]
Output: [2,3]

In [487]:
nums = [1,2,3,4,4]

In [488]:
error_array = []
for i in range(len(nums)):
    if nums[i] == nums[i+1]:
        error_array.append(nums[i])
        error_array.append(nums[i]+1)
        break

In [489]:
error_array

[4, 5]